*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
blockquote {
  padding: 10px;
  margin: 20px 40px;
  border-left: 5px solid black;
}

.mainBox {
  width: 85%;
  min-height: 500px;
  margin: 25px auto;
  padding: 15px;

  background-color: bisque;
  border: 3px solid burlywood;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
  font-size: 16pt;
}
select {
  font-size: 14pt;
  margin: 5px;
}
input {
  font-size: 10pt;
  padding: 3px;
  margin: 5px;
}
button{
  padding: 10px 20px;
  background-color: white;
  border: 1px solid burlywood;
  border-radius: 5px;
  margin: 1% 5%;
}
button:hover {
  margin: 1% 5%;
  padding: 10px 20px;
  background-color: burlywood;
  border: 1px solid white;
  border-radius: 5px;
}
.entryBox {
  display: flex;
  justify-content: space-around;
}
.buttonBox {
  display: flex;
  justify-content: center;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin: 20px;
}
img {
  width: 31%;
  height: auto;
  aspect-ratio: 1/1;
  border: 3px solid burlywood;
  border-radius: 5px;
  margin: 6px;
  transition: transform .2s;
}
img:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
  img{
    width: 95%;
  }
}
@media only screen and (min-width: 600px) {
  img{
    width: 45%;
  }
}
@media only screen and (min-width: 1000px) {
  img{
    width: 31%;
  }
}
